<%- include partials/header.ejs%>
  <%- include partials/main_nav.ejs%>

  <main class="container">
    <div class="jumbotron">
        
        <div id="panel">
        <h3>Contact Info:</h3>
        <h4>Nandini Hariprasad</h4>
        <h4>Email: nharipr2@my.centennialcollege.ca</h4>
        </div>
        
     <div id="myForm">
        <center><h4>Contact me here</h4></center><br>
    <form action="mailto:nharipr2@my.centennialcollege.ca" method="post">
        <label>First Name: </label>
        <input type="text"><br><br>
        <label>Last Name: </label>
        <input type="text"><br><br>
        <label>Contact Number: </label>
        <input type="tel" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"><br><br>
        <label>Email Address: </label>
        <input type="email"><br><br>
        <label>Message: </label>
        <textarea cols="45"></textarea><br><br>
        <label><input type="submit" value="submit"></label><input type="reset" value="reset">
    </form>
    </div>  
    <br><br>

    </div>
  </main>


   <%- include partials/bottom_nav.ejs%>
  <%- include partials/footer.ejs%>
 